#Env variables
.env

# Python
__pycache__/
*.pyc

# Node / frontend 
node_modules/

# Virtual environments
venv/
env/

# Docker/Compose generated stuff
*.log

# Hyperledger Fabric crypto and artifacts
crypto-config/
crypto-material/
channel-artifacts/
production_data/
organizations/
fabric-samples/
peer-ledgers/


# IPFS and keys
.ipfs/
**/ipfs_config/
**/keys/

# Environment / secrets
.env
*.key
*.pem

# IDE / OS files
.vscode/
.idea/
.DS_Store



# --- Hyperledger Fabric binaries (can be re-downloaded) ---
bin/
fabric-samples/
*.tar.gz

# --- Crypto material & channel artifacts (generated) ---
crypto-config/
crypto-material/
channel-artifacts/
*.block
*.tx
*.pem
*.crt
*.key
*.sk

# --- Docker / logs ---
*.log

# --- Python (if any) ---
venv/
__pycache__/
*.pyc

# --- Node.js (if you ever add a web app) ---
node_modules/
dist/
build/

# --- Editor / OS files ---
.vscode/
.idea/
.DS_Store
*.swp


flask_app/
frontend/
